<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- VueJS e Axios -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="bg-dark text-light">
    <div id="app" class="container my-5">
        <h1 class="text-center mb-5">Lista Dischi</h1>
        <div v-if="dischi.length === 0" class="text-center">Caricamento...</div>
        <div v-else>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" v-for="disco in dischi" :key="disco.title">
                    <div class="card h-100 bg-secondary text-light">
                        <img :src="disco.poster" :alt="disco.title" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ disco.title }}</h5>
                            <p class="card-text">{{ disco.author }}</p>
                            <p class="card-text">{{ disco.year }}</p>
                            <p class="card-text">{{ disco.genre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const App = {
            data() {
                return {
                    dischi: [] // array per contenere i dischi
                };
            },
            mounted() {
                // recuperiamo i dati dall'API 
                axios.get('dischi.php')
                    .then(response => {
                        this.dischi = response.data; // Imposta i dati dei dischi
                    })
                    // in caso di errore
                    .catch(error => {
                        console.error('Errore nel recupero dei dischi:', error);
                    });
            }
        };

        Vue.createApp(App).mount('#app');
    </script>
    
</body>
</html>