<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- VueJS e Axios -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Lista Dischi</h1>
        <div v-if="dischi.length === 0">Caricamento...</div>
        <div v-else>
            <div class="album" v-for="disco in dischi" :key="disco.title">
                <img :src="disco.poster" :alt="disco.title">
                <h3>{{ disco.title }}</h3>
                <p>{{ disco.author }}</p>
                <p>{{ disco.year }}</p>
                <p>{{ disco.genre }}</p>
            </div>
        </div>
    </div>

    <script>
        const App = {
            data() {
                return {
                    dischi: [] // array per contenere i dischi
                };
            },
            mounted() {
                // recuperiamo i dati dall'API 
                axios.get('dischi.php')
                    .then(response => {
                        this.dischi = response.data; // Imposta i dati dei dischi
                    })
                    // in caso di errore
                    .catch(error => {
                        console.error('Errore nel recupero dei dischi:', error);
                    });
            }
        };

        Vue.createApp(App).mount('#app');
    </script>
    
</body>
</html>